@import "./basic.scss";

.info {
    height: 700px;
    background: black;
    &-container {
        @include container-grid;
        position: absolute;
        height: 700px;
    }
    &__content {
        position: relative;
        background: rgba(0, 199, 252, 0.5);
        width: 60%;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        padding: 4% 5% 4% 20%;
        color: #fff;
    }

   

    &__title {
        margin-bottom: 5%;
    }
}
